<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Search</title>
        <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    </head>
    <body>
        <header class="headerMenu">
            <div id="headerLogo">
                <span>Jobly</span>
            </div>
            <form id="findPeopleForm">
                <div class="input-container">
                    <span id="searchIcon">&#x1F50E</span>
                    <input type="search" name="Who" id="findPeople" title="Who" placeholder="Search">
                </div>
                <div class="button-container">
                    <button  id="findPeopleButton">Find</button>
                </div>
            </form>
            <div class="headerMenu" id="profileItems">
                <span>Messages &#x1f514</span>
                <span><a href="redirect_edit_profile/?id={{request.session.uid}}">Edit Profile</a></span>
                <span><img id="profileIcon" src="/static/images/Company_logo.png" alt="P"></span>
            </div>
        </header>
        <div id="info">
            <div id="overviewInfo" class="profileInfo">
                <div id="name">{{Name}}</div>
                <img id="profilePicture" alt="Profile picture" src="/static/images/Company_logo.png">
                <div id="specialization">{{specialization}}</div>
                <hr>
                <div class="infoSubTitle">COMPANY INFORMATION</div>
                <table>
                    <tbody>
                        <tr>
                            <td class="infoLabel">NAME:</td>
                            <td>{{NAME}}</td>
                        </tr>
                        <tr>
                            <td class="infoLabel">SECTOR:</td>
                            <td>{{SECTOR}}</td>
                        </tr>
                        <tr>
                            <td class="infoLabel">VISION:</td>
                            <td>{{VISION}}</td>
                        </tr>
                        <tr>
                            <td class="infoLabel">LOCATION:</td>
                            <td>{{Location}}</td>
                        </tr>

                        <tr>
                            <td class="infoLabel">SIZE:</td>
                            <td>{{SIZE}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>        
            <div id="moreDetails" class="profileInfo">
                
               
               
                <div class="infoSubTitle">CONTACT INFORMATION</div>
                <table>
                    <tbody>
                        <tr>
                            <td class="infoLabel">Phone:</td>
                            <td>{{Phone}}</td>
                        </tr>
                        <tr>
                            <td class="infoLabel">Address:</td>
                            <td>{{Address}}</td>
                        </tr>
                        <tr>
                            <td class="infoLabel">E-mail:</td>
                            <td>{{Email}}</td>
                        </tr>
                        <tr>
                            <td class="infoLabel">Website:</td>
                            <td><a href='www.johndoe.com'>www.johndoe.com</a></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div class="infoSubTitle">DESCRIPTION</div>
                <table>
                    <tbody>
                        <tr>
                        
                        </tr>
                    </tbody>
                </table>
                
            
            </div>
        </div>
    </body>
</html>