<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Job Search</title>
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
      <!-- Include jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  {% include 'header.html' %}

  
  <div id="mainContent">
    <form>
      <div class="input-container">
        <label for="searchWhat">What</label>
        <input type="search" name="What" id="SearchWhat" title="What" placeholder="Job title, keywords, or company">
        <span>&#x1F50E</span>
      </div>
      <div class="input-container">
        <label for="searchWhere">Where</label>
        <input type="search" name="Where" id="SearchWhere" title="Where" placeholder='City, province, or "remote"'>
        <span>&#x1F588</span>
      </div>
      <div class="button-container">
        <button  id="findJobsButton">Find jobs</button>
      </div>
    </form>
    <div class="standardContainer">
      <a class="blueHyperlink" href="">Upload your resume</a>
      <span></span>
      <span></span>
    </div>
    <div class="standardContainer">
      <a class="creationButton" href="{% url 'job_creation' %}">Post a job on Jobly</a>
      {% if message %}

      <script>

        alert('{{ message }}');

      </script>
      {% endif %}
    </div>
  
    {% for key, value in jobs.items %}
    <div class="standardContainer">
      <!-- Create section -->
      <div class="rounded-box">
        <img alt="" src="C:\Users\wpica\Pictures\OIP.jpg" class="image">
        <a href="jobview/?id={{key}}"class="line-1">{{value.Title}}</a>
        <p class="line-2">{{value.Company}} - {{value.Type}}</p>
          <p class="line-3">{{value.Location}} </p>
          <p class="line-4">Posted 2 hours ago</p>
          <form action="applytojob/?id={{key}}" method="post">
          {% csrf_token %}
          <button class="apply-button">Apply Now</button>
          </form>
        </div>
  </div>

{% endfor %}
  <footer>

  </footer>
  <script>
    document.querySelector('#headerMenu2 span:nth-child(2)').addEventListener('click', function() {
      window.location.href = "{% url 'signin' %}";
    });
  </script>
</body>
</html>
