<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="GitHub_job_des.css">
  <title>HTML MAIN JOB DESCRIPTION PAGE</title>
</head>
<body>
  <header>
    <div>
      <div class="headerMenu" id="headerLogo">
        <span>Jobly</span>
      </div>
      <div class="headerMenu" id="headerMenu1">
        <span>Find Jobs</span>
        <span>Upload your resume</span>
        <span></span>
      </div>
    </div>
    <div>
      <div class="headerMenu" id="headerMenu2">
        <span></span>
        <span><a href="{% url 'signin' %}">Sign in</a></span>
        <span>Employers/Post Job</span>
      </div>
    </div>
  </header>
  <div class="static-container">
  <div class="job-info-container">
    <p class="line-1">IT (Intership)</p>
    <p class="line-2">Valsoft</p>
    <p class="line-2">Montreal, QC</p>
    <p class="line-2">Hybrid remote</p>
    <p class="line-2">$40,000-$60,000 a year- Intership / Co-op</p>
  </div>
      <div class="rectangle-save-apply">
        <a href ="https://www.pornhub.com/categories" class="apply-button">Apply Now</a>
        <button class="save-button">Save</button>
      </div>
      <hr>
  </div>
<div class="scrolling-container">
<div class="job-detail-container">
  <p class="line-3">Job details</p>
  <p class="line-4">Salary</p>
  <p class="line-2">$40,000-$60,000 a year</p>
  <p class="line-4">Job type</p>
  <p class="line-2">Intership / Co-op</p>
</div>
<div class="Full-Job-Des">
<p class="line-3">Full Job Description</p>
<p>We are proud to build a world class organization that thrives on: Collaborating closely, problem-solving, breaking new ground and adapting quickly to a rapidly evolving industry. We are looking for a Software Developer!

  We offer a hybrid/remote work environment made easy for you with practical perks, commuting and lunch benefits.
  
  A competitive compensation package, including a performance based incentive plan
  A very generous and broad ranged personal & healthcare spending program
  100% company-paid comprehensive health & dental coverage; you can choose the option(s) that best suits YOU
  Minimum 21 days of paid time off and so much more!
  Access to free learning and development opportunities
  Amazing discounts, tons of social activities and various other extras!
  Onboarding framework which ensures you're set up for success from Day 1
  Giving back program which includes donation matching & volunteering including a paid volunteer day
  If you wish to know more about Samsung Ads, please visit our website.
  
  About this role:
  
  Our team is responsible for managing, growing and optimizing product access to high-quality programmatic ads supply to effectively, intelligently and safely satisfy demand. Our tech stack includes a mixture of Erlang, Go, C, Linux, Concourse, Docker and Kubernetes.
  
  We handle ~1,000,000 requests per second and over one billion per day across multiple data centers. We have a maximum of 100ms to parse an ad bid request, query our databases to find the most appropriate ad for that end-user, decide on our bid price, and respond. We manage an inventory of ~10,000 active ads for ~250 concurrent campaigns driving tens of millions of dollars in monthly revenue; generating ~600,000,000 ad impressions daily. We support ad operators from all around the world in multiple currencies and languages.
  
  As a Software Developer, you will be responsible for designing, building, deploying, and maintaining components in our distributed real-time bidding system, a system that gets a high volume of traffic. This involves measuring and tuning high-performance, low-latency (soft-real-time) systems while working towards improved robustness and correctness.
  
  Responsibilities
  
  Maintain and improve existing services which includes actively trying to pay back technical debt and extending their functionality.
  Participate in the design, implementation and testing of new services; flesh out and iterate on requirements in collaboration with the product team.
  Investigate and fix performance issues throughout our systems which include our services, dependencies and kernel usage.
  Guide the direction of our technology stack to improve performance, scalability and maintainability while reviewing and enhancing development processes and methodologies.
  Contribute to open source software to improve our external dependencies.
  Interest in mentoring, guiding and teaching junior developers.
  Requirements
  
  Solid experience as a full-time software developer with a solid foundation in systems programming, computer science and software engineering.
  Erlang programming experience or Golang / C / C++ coupled with working with high-performance and low-latency systems.
  Experience with linux OS.
  Experience with distributed systems.
  Strong reading, written and verbal communication skills.
  Diversity and inclusion
  
  Samsung Ads is committed to working with the best and brightest people from the broadest talent pool possible. We believe a diversity of ideas fosters innovation and engagement, and allows us to attract the best people, and to develop the best products, services and solutions. All qualified individuals are encouraged to apply. If you need assistance, or have any questions during the application and recruiting process, please contact us at: inclusion.ca@samsung.com</p>
</div>
</div>
</body>
</html>