<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/GitHub_job_des.css">
  <title>HTML MAIN JOB DESCRIPTION PAGE</title>
</head>
<body>
  <header>
    <div>
      <div class="headerMenu" id="headerLogo">
        <span>Jobly</span>
      </div>
      <div class="headerMenu" id="headerMenu1">
        <span>Find Jobs</span>
        <span>Upload your resume</span>
        <span></span>
      </div>
    </div>
    <div>
      <div class="headerMenu" id="headerMenu2">
        <span></span>
        <span><a href="{% url 'signin' %}">Sign in</a></span>
        <span>Employers/Post Job</span>
      </div>
    </div>
  </header>
  <div class="static-container">
  <div class="job-info-container">
    <p class="line-1">{{Title}}</p>
    <p class="line-2">Valsoft</p>
    <p class="line-2">{{Location}}</p>
    <p class="line-2">{{Salary}} - {{Type}} / Co-op</p>
  </div>
      <div class="rectangle-save-apply">
        <a href ="/applytojob/?id={{key}}" class="apply-button">Apply Now</a>
      </div>
      <hr>
  </div>
<div class="scrolling-container">
<div class="job-detail-container">
  <p class="line-3">Job details</p>
  <p class="line-4">Salary</p>
  <p class="line-2">{{Salary}}</p>
  <p class="line-4">Job type</p>
  <p class="line-2">{{Type}}</p>
</div>
<div class="Full-Job-Des">
<p class="line-3">Full Job Description</p>
<p>{{Description}}</p>
</div>
</div>
</body>
</html>
